.chatIntro {
    align-items: center;
    background-color: #fa7c95;
    display: flex;
    flex-direction: column;
    border-left: 3px solid #fff;
    justify-content: center;
}
.chatIntro__foto {
    height: 357px;
    width: 365px;
}
.hello {
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
}
h2 {
    color: #DE0F3F;
    text-align: center;
    font-size: 29.3px;
    font-family: 'Varela Round', sans-serif;
}